#form-container {
  margin-top: 3.75rem;
  margin-bottom: 7.813rem;
}
#form-title {
  color: #18a4e1;
}
label {
  color: #053354;
  padding-left: 1.25rem;
}
#email-timer {
  padding-right: 1.25rem;
  float: right;
  color: #ced4da;
}
.p-field {
  width: 30rem;
  margin-top: 1.875rem;
}
:host::ng-deep .p-inputtext {
  margin-top: 5px;
  border-radius: 3.125rem;
  box-sizing: border-box;
  height: 3.125rem;
  padding-left: 1.25rem;
  caret-color: #2196f3;
}
:host::ng-deep .p-inputtext::placeholder {
  font-size: 0.875rem;
  opacity: 0.3;
}
:host::ng-deep .p-inputtext:enabled:focus {
  box-shadow: none;
}
:host::ng-deep .p-button {
  border-radius: 3.125rem;
  height: 3.125rem;
  /* margin-left: auto; */
  margin-top: auto;
  border: transparent;
}
:host::ng-deep .p-button:focus {
  box-shadow: none;
}
:host::ng-deep .p-button:hover {
  opacity: 0.9;
}
#error-message {
  padding-left: 1.25rem;
  color: red;
  margin: 0.625rem 0 0 0;
  font-size: 0.875rem;
}
.p-inputtext.ng-dirty.ng-invalid {
  border-color: #ced4da;
}
.ng-submitted .p-inputtext.ng-invalid {
  border-color: red;
}
.p-inputtext:enabled:hover {
  border-color: #2196f3;
}
