<div class="card">
  <div class="card-body">
    <h2 class="card-title">პაროლის აღდგენა</h2>

    <div *ngIf="showError" class="alert alert-danger" role="alert">
      <span [innerHTML]="errorMessage"></span>
    </div>

    <div *ngIf="!showSuccess" class="alert alert-success" role="alert">
      თქვენი პაროლი შეიცვალა.
      <a class="cursor-pointer underline" (click)="navigateToLogin()"> ავტორიზაციისთვის დააჭირეთ აქ. </a>
    </div>

    <form
      [formGroup]="resetPasswordForm"
      autocomplete="off"
      novalidate
      (ngSubmit)="resetPassword(resetPasswordForm)"
    >
      <div class="mb-3 row">
        <label for="password" class="col-form-label col-sm-2 ml-3"
          >პაროლი:</label
        >
        <div class="col-md-5">
          <input
            id="password"
            type="password"
            pInputText
            formControlName="password"
            class="form-control"
          />
        </div>
        <div class="col-md-5">
          <p
            id="error-message"
            *ngIf="
              validateControl('password') && hasError('password', 'required')
            "
          >
            *გთხოვთ შეიყვანეთ პაროლი
          </p>
          <p
            id="error-message"
            *ngIf="
              validateControl('password') &&
              hasError('password', 'invalidPassword')
            "
          >
            *პაროლი უნდა შედგებოდეს მინიმუმ 8 სიმბოლოსგან და უნდა შეიცავდეს
            მინიმუმ 1 დიდ და 1 პატარა ასოს, 1 ციფრს და 1 სიმბოლოს
          </p>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="confirm" class="col-form-label col-sm-2 ml-3"
          >დაადასტურეთ პაროლი:</label
        >
        <div class="col-md-5">
          <input
            id="confirm"
            type="password"
            pInputText
            formControlName="confirm"
            class="form-control"
          />
        </div>
        <div class="col-md-5">
          <p
            id="error-message"
            *ngIf="
              validateControl('confirm') && hasError('confirm', 'required')
            "
          >
            *გთხოვთ დაადასტურეთ პაროლი
          </p>
          <p id="error-message" *ngIf="hasError('confirm', 'mustMatch')">
            *პაროლები არ ემთხვევა
          </p>
        </div>
      </div>
      <br />
      <div class="mb-3 row">
        <div class="col-md-1">
          <button
            pButton
            type="submit"
            label="აღდგენა"
            class="bg-blue-900"
          ></button>
        </div>
      </div>
    </form>
  </div>
</div>
