.card {
  min-height: calc(100vh - 14rem - 22rem);
}
#error-message {
  color: red;
  font-size: 0.875rem;
  margin-left: 1rem;
}
:host::ng-deep .p-inputtext:enabled:focus {
  box-shadow: none;
}
:host::ng-deep .p-button:hover {
  opacity: 0.9;
}
:host::ng-deep .p-button {
  border-radius: 3.125rem;
  height: 2.5rem;
  width: 7.5rem;
  border: transparent;
}
:host::ng-deep .p-button:focus {
  box-shadow: none;
}
.ng-submitted .p-inputtext.ng-invalid {
  border-color: red;
}
:host::ng-deep .p-inputtext {
  margin-top: 5px;
  border-radius: 3.125rem;
  box-sizing: border-box;
  height: 2.5rem;
  padding-left: 1.25rem;
  caret-color: #2196f3;
}
.card-title {
  color: #18a4e1;
}
label {
  color: #053354;
}
.alert {
  margin-bottom: 0.625rem;
  padding-left: 1rem;
}
.alert-danger {
  color: red;
}
.alert-success {
  color: #18a4e1;
}
.p-inputtext.ng-dirty.ng-invalid {
  border-color: #ced4da;
}

