<div class="card">
  <div class="card-body">
    <h2 class="card-title">პაროლის აღდგენა</h2>

    <div *ngIf="showError" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>

    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
      {{ successMessage }}
    </div>

    <form
      [formGroup]="forgotPasswordForm"
      autocomplete="off"
      novalidate
      (ngSubmit)="forgotPassword(forgotPasswordForm)"
    >
      <div class="mb-2 row">
        <label for="email" class="col-form-label col-sm-2 ml-3"
          >ელ-ფოსტა:</label
        >
        <div class="col-md-5">
          <input
            id="email"
            type="email"
            pInputText
            formControlName="email"
            class="form-control"
          />
        </div>
        <p *ngIf="validateControl('email')" id="error-message">
          *გთხოვთ შეიყვანეთ ელ-ფოსტა
        </p>
      </div>
      <br />
      <div class="mb-2 row">
        <div class="col-md-1">
          <button
            pButton
            type="submit"
            label="აღდგენა"
            class="bg-blue-900"
          ></button>
        </div>
      </div>
    </form>
  </div>
</div>
